@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');

header {
    height: 10vh;
    width: 100vw;
    margin-top: -16px;
    margin-left: 0px;
    /* background-color: rgb(16, 16, 16); */
    /* background-color: brown; */
    position: sticky;
}

.navigation {
    /* background-color: black; */
    background-image: linear-gradient(to right, #000000, #0e0e0e, #181818, #202020, #282828, #2b2b2b, #2e2e2e, #313131, #303030, #2e2e2e, #2d2c2d, #2c2b2b);
    /* background-image: linear-gradient(to right, #000000, #0c0c0c, #151414, #1c1b1b, #232121, #252323, #272525, #292727, #262525, #242222, #212020, #1f1e1e); */
}

.naviLinks {
    text-decoration: none;
    display: flex;
}

.brand {
    justify-content: left;
    align-items: center;
    justify-content: center;
    font-family: kalina;
    font-size: 3rem;
    font-weight: 540;
    background: linear-gradient(to right, #ba9b0a, #c69a00, #d39800, #e09500, #ed9200, #ec9000, #eb8f00, #ea8d00, #db8d00, #cd8d01, #bf8c07, #b28a0f);
    -webkit-background-clip: text;
    color: transparent;
    /* color:white; */
    /* background-image: linear-gradient(to right, #ba9b0a, #c69a00, #d39800, #e09500, #ed9200, #ec9000, #eb8f00, #ea8d00, #db8d00, #cd8d01, #bf8c07, #b28a0f); */
    /* color: #ff8c00; */
}

.NavLink {
    list-style: none;
    text-decoration: none;

}